.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202733;
  margin: 0;
  padding: 0;
}

.advice-card {
  background-color: #2c3641;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  color: #53ffaa;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice-id {
  font-size: 0.85rem;
  color: #53ffaa;
  margin-bottom: 1rem;
}

.advice-text {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background: #53ffaa;
  opacity: 0.3;
  margin: 1rem 0;
}

body,
.app {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advice-text,
.advice-id {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #202733;
}
